name: Scala CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Run tests with scoverage
        run: sbt clean coverage test coverageReport

      - name: Upload coverage to Coveralls
        uses: scoverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: target/scala-3.4.2/scoverage-repirt/cobertura.xml
          format: cobertura









